Screen {
    align: center top;
}

#timeline {
    width: auto;
    overflow-x: hidden;
    scrollbar-size-vertical: 0;
}

DataTable > .datatable--cursor {
    background: #8FBC8F;
    color: $text;
}


Jump {
    align: left bottom;
}

SwitchTimeline {
    layout: vertical;
    overflow-y: auto;
    background: $background 0%;
}

